/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 20px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 10px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --successBG : #00C363;
    --warningBG : #F85D59;
    --infoBG : #009FF9;

    --primaryColor : #F78A00;
    --darkColor : #5B5B5B;
    --whiteColor : #FFFFFF;
    --greyColor : #C3C3C3;
    --shadowColor : #808080;
}

body {
    background: var(--whiteColor);
}

.content {
    max-width: 960px;
    display: block;
    margin-inline: auto;
    padding: var(--spaceMD);
}

.btn {
    font-size: var(--textLG);
}

.btn-menu {
    height: 100%;
    background: var(--primaryColor);
    padding-inline: var(--spaceXLG);
    font-size: var(--textJumbo);
    font-weight: 600;
    color: var(--whiteColor) !important;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.btn {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-menu:hover, .btn:hover{
    transform: scale(1.045);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4.25px 12.5px;
}

.container, .container-fluid {
    border: 2px solid var(--darkColor);
    border-radius: var(--roundedLG) !important;
}